.brands_container {
    padding: 5%;
    margin-top: 64px;
}

.brands_title {
    text-align: center;
    color: #333;
    font-family: 'League Spartan', 'sans-serif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.brands_logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.brands_logos img {
    margin: 12px;
    padding: 12px;
}