.home-container {
    background: #fff;

    min-height: 50vh;
    height: 100vh;
    min-width: 100%;
   
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid black; */
    /* padding-top: 100px; */
}

#home-1 {
    background-image: url('../naprapatrehab_img/DSC06345.jpeg');
    
}

#home-2 {
    background-image: url('../naprapatrehab_img/DSC06368.jpeg');
}

#home-3 {
    background-image: url('../naprapatrehab_img/DSC06469.jpeg');
   
}

#home-4 {
    background-image: url('../naprapatrehab_img/cre8you-certifierad-mammamage-tranare.jpeg');
    background-size: 25%; 
    background-position: right 5% bottom 10%;
}

#home-5 {
    background-image: url('../naprapatrehab_img/cre8you-certifierad-mammamage-tranare.jpeg');
    background-size: 25%; 
    background-position: right 5% bottom 10%;
}

@media only screen and (max-width: 600px) {
    .home-container {
        height: 60vh;
        /* background-color: lightblue; */
        padding: auto 10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
  }

