.hero_container {
  min-height: 100svh;
  padding-right: 6rem;
  padding-top: 12svh;

  background-image: url("../../assets/images/img-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: inset -40em 0 1000em #0000006c;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  scroll-snap-align: start;
}

.hero_container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero_container-text h2 {
  font-size: 3em;
  letter-spacing: 0.1em;
  color: #ccc;
  margin-bottom: 1em;
  text-shadow: 0px 0px 2px #000;

  animation: from-right 1s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.hero_container-text h1 {
  font-size: 6em;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 0px 0px 2px #000;

  animation: from-left 1s forwards;
  animation-delay: 1s;
  opacity: 0;
}

.hero_container-button {
  margin-top: 4em;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 14em;
}

.hero_container-button-act_button {
  animation: fade-in 2s forwards;
  animation-delay: 1s;
  opacity: 0;
}

.hero_container-button-sub_button {
  background: transparent;
  border: 2px solid #1560bd;

  animation: fade-in 2s forwards;
  animation-delay: 1s;
  opacity: 0;

  &:hover {
    background: #1560bd;
    color: #fff;
  }
}

.hero_container-icon_down {
  all: unset;

  color: #eee;
  width: 100px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4em;
  cursor: pointer;

  left: 50%;
  transform: translateX(-50%);

  transition: 0.5s;
  animation: icon-down 1s infinite ease-in-out alternate;
}

@keyframes icon-down {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 1.6em;
  }
}

@keyframes from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes from-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  50% {
    /* transform: scale(1.2); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

@media screen and (max-width: 1020px) {
  .hero_container {
    padding-right: 0em;
    align-items: center;

    box-shadow: inset -40em 0 1000em #0000006c;
  }

  .hero_container-text {
    align-items: flex-start;
  }

  .hero_container-text h2 {
    font-size: 2em;
  }

  .hero_container-text h1 {
    font-size: 4em;
  }

  .hero_container-button {
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
  }

  .hero_container-button button {
    padding: 1em 2em;
    min-width: 320px;
    margin-top: 2em;
  }
}

@media screen and (max-width: 560px) {
  .hero_container {
    box-shadow: inset 0px 50svh 10svh #00000025;
  }
  .hero_container-text h2 {
    font-size: 1.6em;
  }

  .hero_container-text h1 {
    font-size: 2.2em;
  }

  .hero_container-button button {
    padding: 0.8em 1.6em;
    min-width: 260px;
    margin-top: 2em;
    font-size: 0.8em;
  }

  .hero_container-icon_down {
    bottom: 0;
    color: var(--color-htk);
  }

  @keyframes icon-down {
    0% {
      margin-bottom: 0;
    }
    100% {
      margin-bottom: 1.6em;
    }
  }
}
