.htk5-navbar_container {
  position: absolute;
  left: 0;
  right: 0;
  min-width: 100%;
  z-index: 10;

  height: 12svh;
  background: #fff;
  padding: 1.2em;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.htk5-navbar_container-submenu {
  display: flex;
  transition: 0.5s;
  margin-bottom: 1rem;
}

.htk5-navbar_container-link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
}

.htk5-navbar_container-link-button {
  background: #10752b;
  color: #fff;
  padding: 1rem 0;
  border-radius: 1rem;
  border: 1px solid #10752b;

  transition: 0.5s;

  &:hover {
    background: #fff;
    color: #10752b;
  }
}

.htk5-navbar_container-link img {
  width: 6rem;
  object-fit: cover;
}

.htk5-menu-btn {
  z-index: 20;
  color: #333;
  cursor: pointer;
  width: 6vw;

  transition: all 0.3s ease-in-out;
}

.htk5-open {
  height: 32svh;
}

@media screen and (max-width: 1020px) {
  .htk5-navbar_container {
    width: 90%;
    padding: 0.8em;
  }

  .htk5-navbar_container a {
    font-size: 0.8em;
  }

  .htk5-menu-btn {
    transform: scale(0.9);
    &:hover {
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 560px) {
  .htk5-navbar_container a {
    font-size: 0.6em;
  }

  .htk5-menu-btn {
    transform: scale(0.6);
    &:hover {
      transform: scale(0.7);
    }
  }
}
