.htk3-welcome_container {
  /* border: 1px solid black; */

  min-height: 100vh;
  width: 100%;

  background-image: url("../assets/img/img-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset -60vw 0px 100px #0000003d;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.htk3-welcome_container-section_container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.htk3-welcome_container-title_container {
  /* border: 1px solid white; */
  width: 50%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 6rem;
  padding-left: 11rem;
  padding-bottom: 6rem;

  transition: 0.5s;
  /* background: #0000004b; */
}

.htk3-welcome_container-title_container h3 {
  color: var(--color-htk);
  margin-bottom: 2rem;
}

.htk3-welcome_container-title_container h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1.2rem;
  line-height: 6rem;
  /* text-shadow: 2px 2px 6px #333; */
  text-align: start;

  animation: from-left 1s forwards;
  animation-delay: 1s;
  opacity: 0;
}

.htk3-welcome_container-title_container h2 {
  color: #bbb;
  font-size: 4.2rem;
  font-weight: 700;
  letter-spacing: 0.6rem;
  /* text-shadow: 2px 2px 6px #333; */

  text-align: start;

  animation: from-right 1s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.htk3-welcome_container-title_container p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;

  text-align: start;

  animation: from-left 1s forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes from-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.htk3-welcome_container-title_container-button_container {
  display: flex;
  gap: 10rem;
  margin-top: 6.6rem;
}

.htk3-welcome_container-title_container-button_container button {
  text-transform: uppercase;
  font-size: 1.4rem;
  background: var(--color-htk-2);
  color: #fff;
  border: 2px solid var(--color-htk-2);
  &:hover {
    background: #fff;
    color: var(--color-htk-2);
  }

  animation: fade-in 2s forwards;
  animation-delay: 1s;
  opacity: 0;
}

#htk3-welcome_container-title_container-button_container-service-button {
  text-transform: uppercase;
  font-size: 1.4rem;
  background: #fff;
  color: var(--color-htk-2);
  border: 2px solid var(--color-htk-2);
  z-index: 5;
  &:hover {
    background: var(--color-htk-2);
    color: #fff;
  }
}

.htk3-welcome_container-title_container-button_container a {
  color: #fff;
}

.htk3-welcome_container-video_container {
  position: absolute;
  right: 2vw;
  top: 26svh;
  overflow: hidden;

  animation: fade-in 3s forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.htk3-welcome_container-video_container video {
  aspect-ratio: 1 / 1;
  object-fit: cover;

  width: 512px;
  border-radius: 100%;
}

@keyframes fade-in {
  50% {
    /* transform: scale(1.2); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

@media screen and (max-width: 1920px) {
  .htk3-welcome_container-title_container {
    top: 6vh;
  }
}

@media screen and (max-width: 1620px) {
  .htk3-welcome_container-title_container {
    transform: scale(0.9);
    padding-left: 10rem;
  }
}

@media screen and (max-width: 1520px) {
  .htk3-welcome_container-title_container {
    transform: scale(0.8);
    padding-left: 8rem;
  }
}

@media screen and (max-width: 1420px) {
  .htk3-welcome_container-title_container {
    transform: scale(0.7);
    padding-left: 7rem;
  }
}

@media screen and (max-width: 1320px) {
  .htk3-welcome_container-title_container {
    transform: scale(0.6);
    padding-left: 2rem;
  }
}

@media screen and (max-width: 920px) {
  .htk3-welcome_container-title_container h2 {
    font-size: 1.4rem;
  }

  .htk3-welcome_container-title_container h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 680px) {
  .htk3-welcome_container-section_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .htk3-welcome_container-title_container {
    padding: 0;
    margin: 0;
    transform: scale(0.8);
    width: 100%;
  }
  .htk3-welcome_container-title_container h2 {
    font-size: 1.8rem;
  }

  .htk3-welcome_container-title_container h1 {
    font-size: 2.2rem;
  }
  .htk3-welcome_container-title_container-button_container {
    gap: 4rem;
  }
  .htk3-welcome_container-video_container {
    position: static;
    height: 100svh;
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .htk3-welcome_container {
    box-shadow: inset 0px 90vh 20px #00000031;
  }
  .htk3-welcome_container-title_container {
    transform: scale(0.9);
  }
  .htk3-welcome_container-title_container h3 {
    font-size: 1.1rem;
    margin-bottom: 0rem;
    font-weight: 700;
  }
  .htk3-welcome_container-title_container h2 {
    font-size: 1.6rem;
    margin-bottom: 0;
    letter-spacing: 0.4rem;
  }

  .htk3-welcome_container-title_container h1 {
    font-size: 2.6rem;
    letter-spacing: 0.6rem;
    line-height: 2.6rem;
  }
  .htk3-welcome_container-title_container p {
    font-size: 1.2rem;
  }
  .htk3-welcome_container-title_container-button_container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .htk3-welcome_container-title_container-button_container button {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    min-width: 80%;
    border-radius: 2rem;
  }

  #htk3-welcome_container-title_container-button_container-service-button {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  .htk3-welcome_container-video_container {
    position: absolute;
    right: 0;
    left: 0;
    top: 8svh;

    border-radius: 0.2rem;
    overflow: hidden;

    animation: fade-in 1s forwards;
    animation-delay: 1.5s;
    opacity: 0;
  }

  .htk3-welcome_container-video_container {
    position: absolute;
    right: 0;
    left: 0;
    top: 8svh;
  }

  .htk3-welcome_container-video_container video {
    height: 100svh;
    border-radius: 0;
  }
}
