.napra3-container {
    
    min-height: 100vh;
    max-height: 100vh;
    background-image: url('../naprapatrehab/naprapatrehab_img/DSC06345.jpeg');
    background-position: center;      
    background-repeat: no-repeat;
    background-size: cover;
}