.napra3-aboutus-container {
    padding: 6rem;
    background: linear-gradient(to right top, #eef2f3 20%, var(--color-napra));
    border-top: 2px solid #999;
}

.napra3-aboutus-container h1 {
    /* font-style: italic; */
    color: #333;
    font-family: "Caveat", cursive;
}

.napra3-aboutus-container p {
    font-size: 2.2rem;
    font-weight: 700;
    color: #333;
    padding: 2rem;
    font-family: "Caveat", cursive;
}

.napra3-aboutus-container_img-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -12rem;
    gap: 6rem;
}

.napra3-aboutus-container_img-container_card_border {
    /* box-shadow: 0px 0px 6px #000; */
    /* border-top: 2px solid #999; */
    border-radius: 100%;
    padding: 0.2rem;
    background: #fff;
}
.napra3-aboutus-container_img-container_card {
    width: 16vw;
    height: 16vw;
    

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    

    background: #fff;
    border-radius: 100%;
    /* box-shadow: 0px 0px 4rem #000; */
    
}

.napra3-aboutus-container_img-container_card p {

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    margin-right: -12rem;
}



#napra3-aboutus-container_img-container_card-1 {
    background-image: url('../../naprapatrehab/naprapatrehab_img/Susanne Porträtt 1.jpeg');
    background-size: cover;
    background-position: center;
}
#napra3-aboutus-container_img-container_card-2 {
    background-image: url('../../naprapatrehab/naprapatrehab_img/Line Porträtt 1.jpeg');
    background-size: cover;
    background-position: center;
}
#napra3-aboutus-container_img-container_card-3 {
    background-image: url('../../naprapatrehab/naprapatrehab_img/Sofie Porträtt 2.jpeg');
    background-size: cover;
    background-position: center;
}

.napra3-aboutus-container_footer-container {
    padding: 6rem;
    padding-bottom: 0;
}

.napra3-aboutus-container_footer-container p {
    padding: 0.4rem;
}

.napra3-aboutus-container_footer-container_copyright {
    margin-top: 6rem;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .napra3-aboutus-container {
        padding: 0rem;
    }

    .napra3-aboutus-container_img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 2rem;
    }

   

    .napra3-aboutus-container_img-container_card {
        width: 60vw;
        height: 60vw;
        
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0;
    
        background: #fff;
        border-radius: 100%;
        /* box-shadow: 0px 0px 4rem #000; */
        
    }

    .napra3-aboutus-container_img-container_card p {
        padding: 0;
    }

    .napra3-aboutus-container_desc-container h1 {
        font-size: 3rem;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .napra3-aboutus-container_desc-container p {
        font-size: 1.6rem;
        padding-top: 0;
    }

    .napra3-aboutus-container_footer-container {
        padding: 2rem;
        text-align: center;
    }

    .napra3-aboutus-container_footer-container_copyright p {
        font-size: 1rem;
    }
}