.napra3-aboutus-container {
  padding: 6rem;

  /* background: linear-gradient(to right top, #fff 25%, var(--color-napra)); */
  /* border-top: 2px solid #999; */

  /* background: linear-gradient(to bottom, #fff 16vh, #f5a314a4); */
}

.napra3-aboutus-container h1 {
  /* font-style: italic; */
  color: #333;
  font-size: 2.2rem;
}

.napra3-aboutus-container p {
  font-size: 1.6rem;
  color: #333;
  padding: 2rem;
  padding-bottom: 1rem;
}

.napra3-aboutus-container_img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: -12rem; */
  /* gap: 6rem; */

  /* padding: 10rem; */
}

.napra3-aboutus-container_img-container_card_border {
  padding: 2rem;
}
.napra3-aboutus-container_img-container_card {
  width: 25vw;
  height: 25vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  background: #fff;
  /* border-radius: 0.2rem; */
  /* box-shadow: 12px 12px 2px #777; */
}

.napra3-aboutus-container_img-container_card p {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

#napra3-aboutus-container_img-container_card-1 {
  background-image: url("../../naprapatrehab/naprapatrehab_img/Susanne Porträtt 1.jpeg");
  background-size: cover;
  background-position: center;
}
#napra3-aboutus-container_img-container_card-2 {
  background-image: url("../../naprapatrehab/naprapatrehab_img/Line Porträtt 1.jpeg");
  background-size: cover;
  background-position: center;
}
#napra3-aboutus-container_img-container_card-3 {
  background-image: url("../../naprapatrehab/naprapatrehab_img/Sofie Porträtt 2.jpeg");
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 800px) {
  .napra3-aboutus-container {
    padding: 0rem;
  }

  .napra3-aboutus-container_img-container_card_border {
    margin: 0;
    padding: 1rem;
  }
  .napra3-aboutus-container_img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .napra3-aboutus-container_img-container_card {
    width: 60vw;
    height: 60vw;

    justify-content: center;
    align-items: center;
    padding: 0;

    background: #fff;
    border-radius: 0.2rem;
    /* box-shadow: 0px 0px 4rem #000; */
  }

  .napra3-aboutus-container_img-container_card p {
    margin: 0rem;
    padding: 0rem;
    text-align: end;
    font-size: 1.2rem;
    margin-top: 6rem;
  }

  .napra3-aboutus-container_desc-container h1 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .napra3-aboutus-container_desc-container p {
    font-size: 1rem;
    line-height: 1.1rem;
    padding-top: 0;
  }
}
