.image_slider_container {
  width: 100%;
  height: 100%;

  position: relative;
  z-index: 5;
}
.image_slider_container-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0.2rem;
  box-shadow: 4px 2px 8px #000;
}
.image_slider_container-desc {
  text-align: center;
  color: #fff;
  background: #0000002a;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-shadow: 0px 0px 4px #000;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
}
.image_slider_container-desc-button {
  all: unset;

  position: absolute;
  /* left: 0; */
  right: 35%;
  bottom: 25%;
  padding: 1rem;
  cursor: pointer;
  width: 25%;
  background: var(--color-htk-2);
  opacity: 0.8;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  transition: 0.5s;

  &:hover {
    opacity: 1;
  }
}
.image_slider_container-button {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    background: #0000002a;
  }
}

/*all children in the container */
.image_slider_container-button > * {
  stroke: #fff;
  /* fill: #333; */
}

#image_slider_container-button_left {
  left: 0;
}
#image_slider_container-button_right {
  right: 0;
}

.image_slider_container-button_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.image_slider_container-button-dots_container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0.8rem;
  width: 50%;
  border-radius: 2rem;
  /* background: #ffffff54; */
}

.image_slider_container-button-dots_container button {
  all: unset;
  /* background: #000; */
  margin: 0.6rem;
  /* width: 10px;
  height: 10px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.12s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 6px #333;
  }
}

.image_slider_container-button-dots_container-button {
  /* stroke: #fff; */
  /* fill: #fff; */
  transition: 0.3s;
}

@media screen and (max-width: 1280px) {
  .image_slider_container-desc {
    font-size: 1.2rem;
    letter-spacing: 0.11rem;
    line-height: 1.2rem;

    padding-top: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .image_slider_container-image {
    border-radius: 0.2rem;
  }

  .image_slider_container-button-dots_container {
    width: 90%;
  }

  .image_slider_container-desc {
    text-align: center;

    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    line-height: 0.6rem;

    padding: 1rem;
    /* padding-top: 2rem; */
  }
  .image_slider_container-desc-button {
    /* right: 20%; */
    bottom: 20%;

    transform: scale(0.6);
  }
}
