.napra3-about-container {
  /* border: 1px solid black; */
  background: #fff;
  border-top: 2px solid #999;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 6rem; */
}

.napra3-about-container_services-container {
  /* border: 1px solid black; */
  width: 100%;
  min-height: 100vh;
}

.napra3-about-container_services-container_service-card-container {
  /* border: 1px solid #333; */

  display: flex;
  justify-content: center;
  margin: 6rem;
}

.napra3-about-container_services-container_service-card {
  min-width: 40vw;
  max-width: 40vw;
  min-height: 20vw;
  max-height: 20vw;

  border-radius: 1rem;

  /* box-shadow: 0px 0px 2px #000; */
}

#napra3-about-container_services-container_service-card-1 {
  background-image: url("../../naprapatrehab/naprapatrehab_img/DSC06469.jpeg");
  background-size: cover;
  background-position: center;
}
#napra3-about-container_services-container_service-card-2 {
  background-image: url("../../naprapatrehab/naprapatrehab_img/DSC06359___serialized1.jpeg");
  background-size: cover;
  background-position: bottom;
}
#napra3-about-container_services-container_service-card-3 {
  background-image: url("../../naprapatrehab/naprapatrehab_img/cre8you-certifierad-mammamage-tranare.jpeg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.napra3-about-container_services-container_service-card_shade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: none;
  min-width: 22vw;
  min-height: 22vw;
  border-top-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  padding: 2rem;

  /* transition: 0.3s; */
  /* background: #00000048; */
}

.napra3-about-container_services-container_service-card_shade:hover {
  /* background: none; */
  /* transform: scale(1.1); */
  /* cursor: pointer; */
}

.napra3-about-container_services-container_service-card_desc-container {
  /* background: #ffa6000c; */
  width: 100%;
  padding: 6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.napra3-about-container_services-container_service-card_desc-container h3 {
  font-size: 2.8rem;
  text-transform: uppercase;
}

.napra3-about-container_services-container_service-card_desc-container p {
  font-size: 1.8rem;
  text-align: center;
}

.napra3-about-container_services-container_service-card h3 {
  font-family: "League Spartan", "sans-serif", "Lucida Sans",
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
  color: #fff;
  text-shadow: 0px 0px 2px #000;
}
.napra3-about-container_services-container_service-card p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 0px 2px #000;
}

.napra3-about-container_desc-carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6rem;

  /* background: #fff; */
  border-radius: 6rem;
}

.napra3-about-container_desc-container {
  /* border: 1px solid black; */
  width: 50vw;
  padding: 4rem;
}

.napra3-about-container_desc-container_title {
  font-family: "League Spartan", "sans-serif", "Lucida Sans",
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
  /* color: orange; */
  color: var(--color-napra);
}

.napra3-about-container_desc-container_text {
  font-size: 1.8rem;
}

.napra3-about-container_carousel-container {
  width: 500px;
  margin: 6rem;
}

.napra3-about-container_carousel-container_img {
  /* border-radius: 6rem; */

  max-height: 330px;
}

@media only screen and (max-width: 800px) {
  .napra3-about-container_services-container {
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    /* background: tan; */
  }

  .napra3-about-container_services-container_service-card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
  }

  .napra3-about-container_services-container_service-card_desc-container {
    padding: 0rem;
  }

  .napra3-about-container_services-container_service-card_desc-container h3 {
    font-size: 2rem;
  }

  .napra3-about-container_services-container_service-card_desc-container p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: start;
  }

  .napra3-about-container_services-container_service-card {
    min-width: 80vw;
    max-width: 80vw;
    min-height: 80vw;
    max-height: 80vw;

    border-radius: 0rem;

    /* box-shadow: 0px 0px 2px #000; */
  }

  .napra3-about-container_services-container_service-card h3 {
    font-family: "League Spartan", "sans-serif", "Lucida Sans",
      "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    font-size: 2rem;
  }
  .napra3-about-container_services-container_service-card p {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 2px #000;
  }

  .napra3-about-container_desc-carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    margin: 0;
    border-radius: 0.2rem;
  }

  .napra3-about-container_carousel-container {
    width: 300px;
    margin: 0rem;
  }

  .napra3-about-container_desc-container {
    /* border: 1px solid black; */
    width: 100vw;
    padding: 2rem;
  }

  .napra3-about-container_desc-container_title {
    font-family: "League Spartan", "sans-serif", "Lucida Sans",
      "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
    color: orange;
    font-size: 2rem;
  }

  .napra3-about-container_desc-container_text {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

/* Carousel CSS */

li.slide.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 16px #555;
  /* border: 2px solid #aaa; */
}

ul.thumbs.animated {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

p.carousel-status {
  display: none;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow:hover {
  background: none;
}
