.htk3-desc_container {
  min-height: 100svh;
  max-height: 100svh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 4rem;

  background: linear-gradient(75deg, #fff 993px, #3265cc21 0);

  /* background: #3265cc21; */
  z-index: 20;
}

.htk3-desc_container-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.htk3-desc_container-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 75svh;
  max-height: 75svh;
}

.htk3-desc_container-left img {
  flex: 1;
  max-width: 75%;
  padding: 4rem;
}

.htk3-desc_container-left-desc {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2rem;
}

.htk3-desc_container-left-desc p {
  color: #333;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: start;
}

.htk3-desc_container-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  height: 75svh;
  max-height: 75svh;
}

.htk3-desc_container-right img {
  flex: 1;
  min-width: 65%;
  object-fit: cover;
  height: 35svh;
  max-height: 35svh;
}

.htk3-desc_container-right-desc {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2rem;
}

.htk3-desc_container-right-desc p {
  color: #333;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: end;
  /* text-align: start; */
}

.htk3-desc_container-right button {
  text-transform: uppercase;
  font-size: 1.8rem;
  background: var(--color-htk-2);
  color: #fff;
  border: 2px solid #3265cc21;
  margin-top: 4rem;
  opacity: 1;
  &:hover {
    background: #fff;
    color: var(--color-htk-2);
  }
}

@media screen and (max-width: 560px) {
  .htk3-desc_container {
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0;
  }
  .htk3-desc_container-content {
    flex-direction: column;
  }
  .htk3-desc_container-left {
    background: var(--color-htk-2);
    background: #fff;
    border-radius: 2rem;

    align-items: center;
    flex: 1;

    height: 100%;
    max-height: 100%;
  }
  .htk3-desc_container-left p {
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #333;
    padding: 1rem 0;
    text-align: center;
  }
  .htk3-desc_container-right {
    padding: 2rem 0;
    background: var(--color-htk-2);
    border-radius: 0;

    align-items: center;
    /* max-height: 75svh; */
    flex: 1;
    height: 100%;
    max-height: 100%;
  }

  .htk3-desc_container-right p {
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }

  .htk3-desc_container-right img {
    width: 90%;
    min-width: 90%;
    height: 100%;
    object-fit: cover;
    margin: 0 2rem;
    margin-top: 2rem;
    border-radius: 2rem;
  }

  .htk3-desc_container-right button {
    margin: 0;
    padding: 1rem 2rem;
    border-radius: 2rem;
    min-width: 240px;

    font-size: 1rem;
    border: 2px solid #fff;
    opacity: 1;
  }
}
