.htk-navbar-container {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.8rem;
    padding-right: 1.8rem;

    background: linear-gradient(to bottom, #000000c7, #00000000);
    transition: 0.5s;
}

.htk-navbar-container_links-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    
}

.htk-navbar-container_links-container_link-container {
    display: flex;
    flex-direction: column;
}

.htk-navbar-container_links-container_link {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;

    font-size: 1.8rem;
    transition: 0.5s;

}

.htk-navbar-container_links-container_link:hover {
    color: #fff;
}

.htk-navbar-container_links-container_link_underline {
    height: 2px;
    width: 0%;
    background: #ccc;
    
    transition: 0.3s;
}

.htk-navbar-container_links-container_link-container:hover .htk-navbar-container_links-container_link_underline {
    height: 2px;
    width: 100%;
    background: #fff;
}



.htk-navbar-container_links-container_icon {
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    font-size: 2.2rem;
}

@media only screen and (max-width: 1280px) {

    .htk-navbar-container_links-container_link {
        font-size: 1.4rem;
        margin-top: 1rem;
    }
  }

  @media only screen and (max-width: 920px) {

    .htk-navbar-container_links-container_link {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
  }

@media only screen and (max-width: 800px) {

    .htk-navbar-container {
        padding-right: .8rem;
    }

    .htk-navbar-container_links-container {
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: 0;
        padding-right: 0;
        /* border: 2px solid black; */

        position: absolute;
        top: 0;
        right: 1rem;
    }

    .htk-navbar-container_links-container_link {
        font-size: 1.2rem;
        margin-top: 1rem;
        text-decoration: underline;
    }
  }