.desc_container {
  min-height: 100svh;
  max-height: 100svh;
  box-sizing: border-box;

  display: flex;
  background: linear-gradient(75deg, transparent 50%, #344da9 50%);
  background: repeating-linear-gradient(
    75deg,
    #344da9,
    #344da9 503px,
    transparent 0,
    transparent 1042px
  );
  /* border-top: 1rem solid #344da9; */
  /* border-bottom: 1rem solid #344da9; */
}

.desc_container-empty {
  flex: 1;
}
.desc_container-desc {
  flex: 1;
  color: #333;
  /* margin: 0 6rem; */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;

  /* min-height: 100svh;
  max-height: 100svh; */
  padding: 6rem;
  background: linear-gradient(75deg, transparent 50%, #344da9 50%);
}

.desc_container-desc p {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  padding-left: 6rem;
  text-align: end;
}

.desc_container-desc button {
  &:hover {
    border: 1px solid #1974d2;
  }
}

@media screen and (max-width: 560px) {
  .desc_container {
    flex-direction: column;
    background: transparent;

    min-height: 75svh;
  }
  .desc_container-empty {
    flex: 0;
  }
  .desc_container-desc {
    flex: 0;
    padding: 0;
    min-height: 75svh;
    background: var(--color-htk-2);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .desc_container-desc p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding: 0 2rem;
    text-align: center;
  }

  .desc_container-desc button {
    &:hover {
      border: 1px solid #1974d2;
    }
  }
}
