.app-container {
	background: white;
	display: flex;
	flex-direction: column;
}

.fixed-navbar {
	position: fixed;
	top: 0px;
	background: white;
	width: 100%;
	z-index: 2;
}

.navbar-container {
	display: flex;
	flex-direction: column;
	justify-content: right;
	padding-right: 64px;
	padding-top: 12px;
}
.links-container {
	display: flex;
	justify-content: right;
}
.link {
	text-decoration: none;
	padding-bottom: 6px;
}
.link-text {
	color: #333;
	margin-right: 32px;
	font-size: 18px;
	font-weight: bold;
}

.link-text:hover {
	background: #333;
	color: #fafafa;
	border-radius: 2px;
}

.navbar-border {
	width: 260px;
	border-bottom: 3px solid #333;
	display: flex;
	align-self: flex-end;
}
