.contact-info {
	display: flex;
	flex-wrap: wrap;
	padding-top: 32px;
}

.img-container {
	margin-left: 32px;
}

.contact-avatar {
	border-radius: 2px;
	max-height: 160px;
	max-width: 160px;
	box-shadow: 4px 4px 12px #bbb;
}

.info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info {
	display: flex;
	align-items: center;
	font-size: 26px;
}

.info-text {
	font-weight: bold;
	margin-left: 12px;
	color: #333;
}
