.education-content {
	margin-bottom: 32px;
}

.education-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.education-year {
	font-size: 16px;
}

.education-title {
	font-size: 22px;
}

.education-description {
	text-align: end;
	color: #777;
	font-weight: bold;
}
