.htk3-about_container {
  min-height: 100svh;
  max-height: 100svh;
  box-sizing: border-box;

  background: linear-gradient(75deg, transparent 1725.5px, #3265cc21 1481.5px);
  /* background: #3265cc21; */

  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.htk3-about_container-content {
  min-height: 80svh;
  max-height: 80svh;
  display: flex;

  position: relative;
}

.htk3-about_container-content-text {
  height: 60svh;
  width: 60%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 6rem;
}

.htk3-about_container-content-text p {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #fff;
  text-align: start;
  /* margin-bottom: 2rem; */
  padding: 2rem;

  background: #344da9bb;
  /* border-radius: 2rem; */
}

.htk3-about_container-content-image {
  position: absolute;
  bottom: 0;
  right: 0;

  height: 60svh;
  width: 60%;
}

.htk3-about_container-content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0 8rem;
}

@media screen and (max-width: 560px) {
  .htk3-about_container {
    flex-direction: column;

    min-height: 88svh;
    background: linear-gradient(75deg, #344da9 50%, transparent 50%);
    background: repeating-linear-gradient(
      75deg,
      #344da9,
      #344da9 1042px,
      transparent 0,
      transparent 1580px
    );
    /* padding: 1rem; */
    /* margin: 1rem;
    border-radius: 2rem;
    overflow: hidden; */
    /* border-top: 1rem solid #344da9; */
    /* border-bottom: 1rem solid #344da9; */
  }
}
