.services_napra2-container {
    
    /* border: 1px solid black; */
    max-width: 100%;
    /* margin: 64px; */
    background: #fff;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.services_napra2-container_first-page {
   display: flex;
   background: #fcf3e7;
   margin-top: 64px;
   /* margin-left: 64px; */
   margin-right: 64px;
}

.services_napra2-container_first-page_img-container {
    margin: 64px;
    min-width: 320px;
    height: 320px;
    border-radius: 100%;
    overflow: hidden;
}

.services_napra2-container_first-page_img-container_img {
   /* width: 420px; */
   /* height: 420px; */
   
}

#services_napra2-container_first-page1 {
    background-image: url('../assets/img/DSC06469.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

#services_napra2-container_first-page2 {
    background-image: url('../assets/img/DSC06565.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

#services_napra2-container_first-page3 {
    background-image: url('../assets/img/DSC06362.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#services_napra2-container_first-page4 {
    background-image: url('../assets/img/cre8you-certifierad-mammamage-tranare.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.services_napra2-container_first-page_text-container {
    padding: 64px;
}

.services_napra2-container_first-page_text-container_title-container {
    display: flex;
    justify-content: space-between;
}

.services_napra2-container_first-page_text-container_title {
    font-family: 'League Spartan', 'sans-serif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    /* color: #F7A015; */
    color: #333;
    margin: 0;
}

.services_napra2-container_first-page_text-container_price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7A015;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.services_napra2-container_first-page_text-container_price {
    color: #fff;
    
    
    /* text-align: center; */
    margin: 0px auto;
    font-size: 30px;
}

.services_napra2-container_first-page_text-container_subtitle {
    font-family: 'League Spartan', 'sans-serif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    /* color: #F7A015; */
    color: #333;
    font-size: 26px;
    margin-top: 0px;
}

.services_napra2-container_first-page_text-container_text {
    font-size: 24px;
    /* color: #F7A015; */
    color: #333;
}

.services_napra2-container_first-page_brands-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 64px;
}

@media only screen and (max-width: 1720px) {
   
    .services_napra2-container_first-page_text-container {
        position: relative;
        left: 40%;
        top: 50%;
    }

  }

  @media only screen and (max-width: 1560px) {
   
    .services_napra2-container_first-page_text-container {
        position: relative;
        left: 30%;
        top: 50%;
    }

  }

@media only screen and (max-width: 1280px) {
   
    .services_napra2-container_first-page_text-container {
        position: relative;
        left: 0%;
        top: 50%;
    }

    .services_napra2-container_first-page_text-container_title {
        font-size: 26px;
        line-height: 26px;
    }

    .services_napra2-container_first-page_text-container_text {
        font-size: 16px;
        line-height: 16px;
    }

  }

@media only screen and (max-width: 600px) {
    .services_napra2-container {
        padding: 24px;
    }

    .services_napra2-container_first-page {
        height: 20vh;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        width: 100%;
        margin-bottom: 480px;
    }

    .services_napra2-container_first-page_text-container {
        position: relative;
        left: 0px;
        top: 100%;
        padding: 24px;
    }

    .services_napra2-container_first-page_text-container_title {
        font-size: 18px;
        text-align: center;
        line-height: 26px;
    }

    .services_napra2-container_first-page_text-container_text {
        font-size: 16px;
        line-height: 16px;
    }

  }