.napra3-services-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 6rem 12rem;
}

.napra3-services-container_service-container {
  /* width: 100%; */
}

.napra3-services-container_desc-container {
  padding-right: 6rem;
  padding-left: 6rem;
}

.napra3-services-container_logo-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.napra3-services-container_service-container_title-container h4 {
  font-size: 2rem;
  margin: 0;
}

.napra3-services-container_service-container_title-container p {
  font-size: 1.4rem;
}

.napra3-services-container_service-container_desc-container p {
  font-size: 1.4rem;
}

@media only screen and (max-width: 800px) {
  .napra3-services-container {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }

  .napra3-services-container_desc-container {
    padding: 1rem;
  }

  .napra3-services-container_logo-container {
    /* flex-direction: column; */
  }

  .napra3-services-container_logo-container img {
    margin: 2rem;
    flex-direction: column;
    width: 25vw;
  }

  .napra3-services-container_service-container_title-container h4 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
  }

  .napra3-services-container_service-container_title-container p {
    font-size: 1.2rem;
  }

  .napra3-services-container_service-container_desc-container p {
    font-size: 1.2rem;
    line-height: 1.1rem;
  }
}
